DEVELOPMENT_TEAM_ID = MKH22H4B2R
 
APP_PRODUCT_BUNDLE_IDENTIFIER = com.example.naturelab.backyardbirds
APP_WIDGETS_BUNDLE_IDENTIFIER = $(APP_PRODUCT_BUNDLE_IDENTIFIER).widgets
 
WATCH_PRODUCT_BUNDLE_IDENTIFIER = $(APP_PRODUCT_BUNDLE_IDENTIFIER).watch
WATCH_WIDGETS_BUNDLE_IDENTIFIER = $(WATCH_PRODUCT_BUNDLE_IDENTIFIER).widgets
 
APP_GROUP_ID = group.example.naturelab.backyardbirds
